doctype
html
	head
		link(rel="stylesheet", type="text/css", href="/tiny-monsters/css/styles.css")
		script(src="/tiny-monsters/js/lib/jquery-2.1.0.min.js")
		script(src="/tiny-monsters/js/scripts.js")
	body
		h1 Hello

